{% extends 'app1/base.html'%}
{% load static %}

{% block content%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
          <img src="{% static '/image/logo.png' %}" width="35" height="35" alt="img">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/home/" class="nav-item nav-link active text-center text-light rounded mt-1 ml-1">Home</a>
                <a href="/setting/" class="nav-item nav-link text-center text-light rounded mt-1 ml-1">Profile</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-center text-light rounded mt-1 ml-1" data-bs-toggle="dropdown">Your Store</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Add New Item</a>
                        <a href="#" class="dropdown-item">Delete Existing Item</a>
                        <a href="#" class="dropdown-item">View Item</a>
                    </div>
                </div>
            </div>
          {% if request.user.is_authenticated %}
            <div class="navbar-nav dropdown">
              <a href="#" class="nav-item nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img src="{{request.user.userprofile.pic.url}}" alt="" width="45px" height="45px" class="rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class='dropdown-item'><img src="{{request.user.userprofile.pic.url}}" alt="" width="70px" height="70px" class="rounded-circle mx-5"></a>
                <a href="#" class='dropdown-item text-center'>@{{request.user.username}}</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">User History</h6>
                <a href="{% url 'app1:cart'%}" class="dropdown-item">Cart</a>
                <a href="#" class="dropdown-item">Wish List</a>
                <a href="#" class="dropdown-item">Inspection</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Setting</h6>
                <a href="{% url 'app1:setting'%}" class="dropdown-item">Profile Setting</a>
                <a href="#" class="dropdown-item">Privacy & Policy</a>
                <a href="#" class="dropdown-item">User Store</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'app1:logout' %}" class="dropdown-item">Logout</a>
            </div>
            </div>
          {%else%}
            <div class="navbar-nav">
                <a href="{% url 'app1:login'%}" class="nav-item nav-link">Login</a>
            </div>
          {%endif%}
        </div>
    </div>
</nav>




<div class="container-fluid">
    <div class="container">
    <div class="row">
        <div class="col-5">
            <img src="{{items.pic.url}}" class = 'rounded mt-5' alt="" width="500px" height="500px" style="object-fit: cover; outline: 1px solid black;">
        </div>
        <div class="col-3 mt-5 ml-5">
            <h4 class="heading" style="text-transform: uppercase;">{{items.item_name}}</h4>
            <div class="container">
            <p class="text-primary text-uppercase">Brand</p>
            <p>{{items.brand}}</p>
            <p class="text-primary text-uppercase">DETAIL</p>
            <p> {{ items.item_detail}}</p>
            <button class="btn btn-danger mt-2" style="width: 150px; height: 40x;">Discount ${{items.discount}}</button>
            <button class="btn btn-primary mt-2" style="width: 150px; height: 40x;">Price ${{items.price}}</button>
            <button class="rounded border bg-dark text-light addtocart mt-1" value="{{items.id}}" style="width: 150px;height: 40px;"><i class="bi bi-cart"></i>  Add To Cart</button>
            </div>
            
        </div>
    </div>
</div>
</div>
    
<a href="/cart/"><div class="bg-danger rounded-circle text-center zoom" style="position: fixed; bottom: 5px; right: 5px; width: 50px;">
    <div style="position: absolute; width: 30px; height: 30px; font-weight: bold; right: -5px; top:-10px;" class="bg-dark text-white rounded-circle cart-count">{{num}}</div>
    <i class="bi bi-cart" style="line-height: 50px;"></i>
    
  </div></a>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src='{% static "/javascript/home.js"%}'></script>
{% endblock %}